body{
    background-color:#F7ECDE;
}
::selection{
    background-color: #FEC260 ;
}
#main-headline{
    font-size: 3.125rem;
    font-weight: 500;
    font-family: "Pacifico", cursive;
    color: #352e28;
    display: inline-block;
    position: relative;
}
#main-headline::after{
    content: '';
    width: 100%;
    height: .9375rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FEC260;
    z-index: -1;
    transition: all 0.5s;
}
#main-headline:hover::after{
    height: 50%;
}
.bookmark-area{
    border:dotted #352e28;
    border-width: 2px 0px;
}
.bookmark-area h2{
    font-size: 1.5625rem;
    font-weight: 500;
    background: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    color: transparent;
}
.form-control:focus{
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #FEC26055;
}
.btn-submit{
    background-color: #d1512d;
    color: #fff;
}
.btn-submit:hover{
    background-color: #bb4120;
    color: #fff;
}

.layer .cross{
    cursor: pointer;
}
